<domain type='kvm'>
  <name>{{vm_hostname}}</name>
  <memory>{{vm_memory_mb*1024}}</memory>
  <vcpu>{{vm_cpus}}</vcpu>
  <os>
    <type>hvm</type>
    <boot dev='hd' />
  </os>
  <features>
    <acpi />
  </features>
{% if vm_allow_passthrough %}
  <cpu mode='host-passthrough'/>
{% endif %}
  <clock offset='utc' />
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{vm_emulator_path}}</emulator>
    <serial type='pty'>
      <target port='0' />
    </serial>
    <console type='pty'>
      <target type='serial' port='0' />
    </console>
    <input type='mouse' bus='ps2' />
{% for network in vm_networks %}
{% set interface_type = network.type|default('bridge') %}
{% set mac_config="<mac address='%s'/>" % network.mac if 'mac' in network.keys() else "" %}
{% if interface_type == 'bridge' %}
    <interface type='bridge'>
{{ mac_config }}
      <source bridge='{{network.parent}}' />
      <model type='virtio'/>
    </interface>
{% elif interface_type == 'direct' %}
    <interface type='direct'>
{{ mac_config }}
      <source dev='{{network.parent}}' mode='bridge'/>
      <model type='virtio'/>
    </interface>
{% elif interface_type in ['ovs','openvswitch'] %}
    <interface type='bridge'>
{{ mac_config }}
      <source bridge='{{network.parent}}'/>
      <virtualport type='openvswitch'/>
{% if network.get('trunk',False) %}
        <vlan trunk='yes'>
{% for tag in network.trunk %}
          <tag id='{{tag}}'/>
{% endfor %}
        </vlan>
{% elif network.get('access',False) %}
        <vlan>
            <tag id='{{network.access}}'/>
        </vlan>
{% endif %}
      <model type='virtio'/>
    </interface>
{% endif %}
{% endfor %}
{% set letters='abcdefghijklmnopqrstuvwxy' %}
{% for drive in vm_drives %}
{% if drive.type == 'file' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='{{drive.format|default('qcow2')}}' cache='{{drive.cache|default('none')}}' />
{% if 'path' in drive.keys() %}
        <source file='{{drive.path}}'/>
{% else %}
        <source file='{{vm_dir}}/drive_{{loop.index}}.img' />
{% endif %}
      <target dev='vd{{letters[loop.index]}}' bus='virtio' />
    </disk>
{% elif drive.type == 'block' %}
    <disk type='block' device='disk'>
      <driver name='qemu' type='raw' cache='{{drive.cache|default('none')}}' />
      <source dev='{{drive.path}}' />
      <target dev='vd{{letters[loop.index]}}' bus='virtio' />
    </disk>
{% endif %}
{% endfor %}
{% if vm_do_bootstrap %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{vm_cloudinit_iso}}'/>
      <target dev='vdz' bus='virtio'/>
    </disk>
{% endif %}
{% if vm_vnc_port!=0 %}
    <graphics type='vnc' port='{{vm_vnc_port}}' autoport='no' listen='127.0.0.1'>
      <listen type='address' address='{{vm_vnc_address}}'/>
    </graphics>
{% endif %}
  </devices>
</domain>
