<domain type='kvm'>
  <name>{{vm_hostname}}</name>
  <memory>{{vm_memory_mb*1024}}</memory>
  <vcpu>{{vm_cpus}}</vcpu>
  <os>
    <type>hvm</type>
    <boot dev='hd' />
  </os>
  <features>
    <acpi />
  </features>
{% if vm_allow_nested %}
  <cpu mode='host-passthrough'/>
{% endif %}
  <clock offset='utc' />
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{vm_emulator_path}}</emulator>
    <serial type='pty'>
      <target port='0' />
    </serial>
    <console type='pty'>
      <target type='serial' port='0' />
    </console>
    <input type='mouse' bus='ps2' />
{% for network in vm_networks %}
{% set interface_type = network.type|default('bridge') %}
{% if interface_type == 'bridge' %}
    <interface type='bridge'>
      <source bridge='{{network.parent}}' />
      <model type='virtio'/>
    </interface>
{% elif interface_type == 'direct' %}
    <interface type='direct'>
      <source dev='{{network.parent}}' mode='bridge'/>
      <model type='virtio'/>
    </interface>
{% endif %}
{% endfor %}
{% set letters='abcdefghijklmnopqrstuvwxy' %}
{% for drive in vm_drives %}
{% if drive.type == 'file' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='{{drive.format|default('qcow2')}}' cache='{{drive.cache|default('none')}}' />
      <source file='{{vm_dir}}/drive_{{loop.index}}.img' />
      <target dev='vd{{letters[loop.index]}}' bus='virtio' />
    </disk>
{% elif drive.type == 'block' %}
    <disk type='block' device='disk'>
      <driver name='qemu' type='raw' cache='{{drive.cache|default('none')}}' />
      <source dev='{{drive.path}}' />
      <target dev='vd{{letters[loop.index]}}' bus='virtio' />
    </disk>
{% endif %}
{% endfor %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{vm_cloudinit_iso}}'/>
      <target dev='vdz' bus='virtio'/>
    </disk>
  </devices>
</domain>
