version: 2
ethernets:
{% set i=0 %}
{% for network in vm_networks %}
    eth{{i}}:
        match:
            macaddress: "{{(libvirt_generated_macs|selectattr('bridge','equalto',network.bridge)|list|first).mac}}"
        dhcp4: false
        dhcp6: false
        addresses:
        -   "{{network.address|ipaddr('address')}}"
        nameservers:
            addresses: [8.8.8.8]
{% if 'gateway' in network %}
        gateway4: {{network.gateway}}
{% endif %}
{% set i=i+1 %}
{% endfor %}
