version: 1
config:
{% for network in vm_networks %}
-   type: physical
    name: eth{{loop.index-1}}
    mac_address: {{(libvirt_generated_macs|selectattr('id','equalto',network.id|default(network.parent))|list|first).mac}}
{% if 'address' in network %}
    subnets:
    -   type: static
        address: {{network.address|ipaddr('address')}}
        netmask: {{network.address|ipaddr('netmask')}}
{% if 'gateway' in network %}
        gateway: {{network.gateway}}
{% endif %}
        dns_nameservers: {{vm_nameservers|to_json}}
{% endif %}
{% endfor %}
