#cloud-config
manage_etc_hosts: true
users:
-   default
-   name: {{vm_username}}
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
{% if vm_ssh_keys|length > 0 %}
    ssh-authorized-keys: 
{% for key in vm_ssh_keys %}
    -   "{{key}}"
{% endfor %}
{% endif %}
packages: {{vm_packages|to_json}}
